// Colors
$primary: #506aaf;
$secondary: #cac049;

$white: #ffffff;
$light-gray: #e1e1e1;
$medium-gray: #c8c8c8;
$gray: #969696;
$dark-gray: #646464;
$darker-gray: #323232;
$black: #000000;

// Fonts
$body-font: "Open Sans", sans-serif;
$heading-font: "Google Sans", sans-serif;

// Layout
$max-width: 1200px;